.feed-pop-up{
    opacity: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#feed-content{
    position: absolute;
    bottom: 15px;
    right: 15px;
    max-width: 300px;
    min-width: 200px;
    width: 15%;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    padding:7px 5px 10px 5px;
    color: #555555;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.body{
  padding: 0 15px 0 15px;
  border-top-style: solid 0.5p;
}


.feed-icon{
    position: relative;
    top: 5%;
    text-align: right;
    height: 15px;
    width: auto;
    margin-right: 20px;
}

#feed-x{
  cursor:pointer;
}

/**
* Answer types
*/

    /* Open question*/
    .feed-input{
        border: 1px solid #FCD615;
        background-color:white;
        border-radius: 5px;
        color: #555555;
        
    }
    .feed-input:focus{
        outline: none;
    }

    /* End open question*/
    
    /* Grade */

    .feed-radio{
      height: 55px;
      margin: auto;
      padding-bottom: 5px;
    }

    .feed-radio-box{
      display: inline-block;
      height: 20px;
      width: 40px;
    }

    .feed-radio-container {
      display: block;
      position: relative;
      padding-left: 15px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .feed-radio-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    .feed-radio-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    .feed-radio-container:hover input ~ .feed-radio-checkmark {
      background-color: #ccc;
    }
    
    .feed-radio-container input:checked ~ .feed-radio-checkmark {
      background-color: #FCD615;
    }
    
    .feed-radio-checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    .feed-radio-container input:checked ~ .feed-radio-checkmark:after {
      display: block;
    }
    
    .feed-radio-container .feed-radio-checkmark:after {
      top: 4px;
      left: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
    }

    /* End grade */

    /* Multiple answer */

    .feed-checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    .feed-checkbox-checkmark {
      position: absolute;
      top: 3px;
      left: 0;
      height: 12px;
      width: 12px;
      background-color: #eee;
    }

    .feed-checkbox-container:hover input ~ .feed-checkbox-checkmark {
      transition: 1s;
    }

    .feed-checkbox-container input:checked ~ .feed-checkbox-checkmark {
      background-color: #FCD615;
    }

    .feed-checkbox-checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .feed-checkbox-container input:checked ~ .feed-checkbox-checkmark:after {
      display: block;
      transition: 1s;
    }

    .feed-checkbox-container .feed-checkbox-checkmark:after {
      left: 5px;
      top: 2px;
      width: 2px;
      height: 6px;
      transition: 1s;
      border: solid white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .feed-checkbox-container {
      text-align: left;
      height: 75%;
      width: 75%;
      display: block;
      position: relative;
      padding-left: 25%;
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* End Multiple answer */

/* End answer types section*/

.feed-footer{
    padding-top: 10px;
    align-items: center;
}

.feed-button{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: #992409;
    transition: all 0.3s ease 0s;
    color: #F2F2F2;
}
.feed-button:hover{
    background-color: #c54426;
}

/* INCOLLA QUA SOTTO IL CSS GENERATO NELLA SEZIONE DEMO */